.App {
  color: white;
}

.PlayButton {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.container {
  width: 15rem;
  height: 15rem;
  background-color: grey;
  border-radius: 5%;
} 